
a{
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  
}

.container {
  position: relative;
  width: 1170px;
  min-width: 250px;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}
.Teor{
    display: grid;
    color: rgb(53, 52, 52);
    justify-self: center;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}

.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #f7f7f7;
}
/*
  Header
*/

.hold {
  height: 80px;
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 65px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

#logo {
  position: absolute;
  top: 5px;
  left: 100px;
  height: 60px;
  width: 60px;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  color: red;
  }

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}


.section .slider{
  background: #333;
}

.slidercontent {
  text-align: center;
}

.hero {
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1.hero {
  font-size: 50px;
}

h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.col.Teor{
  max-width:80%;
  padding: 5px;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 5px 4px 8px 4px #ccc;
}
.col.Teor:nth-child(2){
  margin: 50px 0 20px 0px;
}
.col.Teor ol#first{
  margin-top: -35px;
}
.col.Teor  ol#first li{
  font-size: 16px;
  line-height: 1px; 
  margin-top: -10px;
}
.col.Teor  ol#second li{
  font-size: 16px;
  padding: 5px;
}
.code{
  width: fit-content;
  height: 270px;
  padding: 15px 10px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px 20px 20px 10px;
  box-shadow: 0px 0px 10px 3px rgb(1 1 1 / 30%) inset, 3px 3px 3px 0px rgb(1 1 1 / 30%);
}
.col.Teor ul{
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
}
.col.Teor ul li{
  font-size: 13px;
  max-width: 23%;
  line-height: 130%;
  padding: 4px;
  border-radius: 5px;
}
.exmpl{
  margin: auto;
  width:60%;
  min-width: 200px;
}
.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}
.col.four p{
    font-size: 1.2em;
    text-align: left;
}
.col.four {
  width: 23%;
  padding: 1%;
  margin: 0;
}

.col.three {
  min-width: 31.3%;
  margin: 0 1%;
}



.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}
.col .feature {
  font-size: 19px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}


.col:hover > .icon {
  background: #F44336;
  color: white;
}
.responsivegroup {
  display: none;
}


.section.bg p, h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}
.col .imgholder h2{
  font-size: 1.5em;
  font-weight: bold;
}
.col .imgholder a{
  text-decoration: normal;
}
.col .imgholder ol{
  display: grid;
}
.col .imgholder li{
  padding: 11px;
}
.col .imgholder table,th,td{
  border: 1px solid rgb(1,1,1, 50%);
  border-collapse: collapse;
  font-size: 11px;
  padding: 9px;
  text-align: left;
  height: 5px;
}
.col .imgholder {
  display: grid;
  padding: 4px 8px;
  justify-items: center;
  align-items: center;
  line-height: 1px;
  height: 355px;
  border-bottom: 6px solid rgb(1,1,1,30%);
}
.col.bg {
  background: #fff;
  border-radius: 10px 10px 30px 30px;
  box-shadow: 0px 0px 6px 2px rgb(1 1 1 / 22%) inset;
}

.col span.feature {
  font-size: 20px;
}


.container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
.nopad {
  display: block;
  width:min-content;
}
@media all and (max-width:1200px) {
  .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 30px auto 0;
    float: none;
    min-width: 380px;
}
  .col.three p:last-child{
    padding: 20px;
  }
}
@media all and (max-width: 768px) {
  .col.Teor ol#second li{
    font-size: 14px;
  }
  .section:nth-child(2) {
    margin-top: 60px;
  }
  .col.Teor ol#first li{
    font-size: 10px;
  }
  .col.Teor ul {
    display: grid;
  }
  .col.Teor ul li{
    max-width: -webkit-fill-available;
  }
  .container {
    width: 95%;
  }
  .col.four {
    width: fit-content;
    margin: 5px;
  }
  .header {
    height: auto;
    background: #eee;
  }
  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 5px auto 0 auto;
  }
  ul.nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  ul.nav li {
    float: initial;
    display: inline-block;
  }
  .section .slider{
    margin-top: 66px;
  }
  .responsivegroup {
    display: block;
  }
  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media all and (max-width: 500px) {
  .code{
    width: -webkit-fill-available;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .col.three {
    margin-top: 10px;
  }
  .container {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media all and (max-width:450px) {
  .section .slider{
    margin-top: 147px;
  }
  .col.four, .col.three, .exmpl{
    float: none;
  }
  .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }
  .group {
    display: none;
  }
}
@media all and (max-width:432px) {
  .section:nth-child(2){
    margin-top: 150px;
  }
}
.row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px;
}
.row-2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  gap: 15px;
}
.first-block{
  max-width: 420px;
}
.site-footer
{
  background-color:#2b2b2c;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin:5px 0 20px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.fa-facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.fa-linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.fa-whatsapp:hover
{
  background-color:#0bb836
}